

/* Debug */

.debug header, .debug footer{
    background-color: blue;
    height: 70px;
}

.debug .container
{
    background-color: orange;
}

.debug main{
    background-color: aqua;
    height: 1000px;
}

.debug main .container{
    height: 1000px;
}

.debug .row{
    background-color: blueviolet;
    height: 450px;
    border: 2px solid red;
}

.debug .col-4{
    background-color: yellow;
    height: 350px;
    border: 3px solid red;
    
}



/* Common */

body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
    align-items: center;
    padding: 1rem;
}

header .container, footer .container{
    justify-content: space-between;
}

.flex{
    display: flex;
}



/* Header */

header{
    background-color: rgb(255, 105, 0);
    position: fixed;
    z-index: 1;
    width: 100%;
}

ul li{
    list-style: none;
}

a{
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.logo img{
    height: 30px;
}

.profile i{
    color: white;
    padding: 0.2rem;
}



/* Main */

main .container{
    flex-direction: column;
    margin: 2rem;
    margin: 50px auto;
}

.row{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border: 2px solid red;
    background-color: aqua;
}


.col-4{
    width: calc((100% / 12) * 4 - 20px);
    justify-content: scenter;
    align-items: center;
    border: 2px solid blue;
    position: relative;
}

.col-4 img{
    width: 100%;
}

.heart{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 24px;
    padding: 5px 10px;
}

.discount{
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    top: 75%;
    font-size: 12px;
    padding: 6px;
    font-weight: 700;
}

.sustainability{
    background-color: green;
    color: white;
    position: absolute;
    left: 45px;
    top: 75%;
    font-size: 12px;
    padding: 6px;
    font-weight: 700;
}

.special{
    left: 0;
}

.new-price{
    color: red;
    font-weight: 700;
}

.old-price{
    text-decoration: line-through;
}